

  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(<%= asset_path 'vibes-resort-1.webp' %>) ; background-position: center; background-attachment:fixed;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown" style="text-transform: uppercase;">Vibes Resort</h2>

                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px;" style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>

                <p style="font-size:18px;">Vibes Resort, nouvelle résidence au Cap d'Agde, est né de l’idée d’offrir un lieu d’exception
à la fois intime et convivial, avec des équipements de
haut standing et un niveau de confort sans pareil.</p>
                <%= link_to "Nous contacter", root_path(anchor: 'contact'), class: "btn-get-started" %>
                <%= link_to "Télécharger la plaquette", new_plaquette_path, class: "btn-invers " %>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(<%= asset_path 'vibes-resort-2.webp' %>) ; background-position: bottom; background-attachment:fixed;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown" style="text-transform: uppercase;">Vibes Resort</h2>

                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px;" style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>

                <p style="font-size:18px;" >Vibes Resort, nouvelle résidence au Cap d'Agde, est né de l’idée d’offrir un lieu d’exception
à la fois intime et convivial, avec des équipements de
haut standing et un niveau de confort sans pareil.</p>
                <%= link_to "Nous contacter", root_path(anchor: 'contact'), class: "btn-get-started " %>
                <%= link_to "Télécharger la plaquette", new_plaquette_path, class: "btn-invers " %>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(<%= asset_path 'vibes-resort-3.webp' %>); background-position:center; background-attachment:fixed;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown" style="text-transform: uppercase;">Vibes Resort</h2>

                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px;" style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>

                <p style="font-size:18px;" >Vibes Resort, nouvelle résidence au Cap d'Agde, est né de l’idée d’offrir un lieu d’exception
à la fois intime et convivial, avec des équipements de
haut standing et un niveau de confort sans pareil.</p>
                <%= link_to "Nous contacter", root_path(anchor: 'contact'), class: "btn-get-started" %>
                <%= link_to "Télécharger la plaquette", new_plaquette_path, class: "btn-invers" %>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <i class="fas fa-chevron-left fa-2x" class="carousel-control-next-icon icofont-rounded-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <i class="fas fa-chevron-right fa-2x" class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">


        <h1 class="mb-4 pt-4 pb-4 text-center">Vibes Resort au Cap d'Agde, un village, une résidence</h1>


        <div class="row mt-4 pt-4" style="align-items:center;">

          <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 d-none d-lg-block text-center ">

            <%=image_tag("logo-min.webp", :style =>'width:40%;', :alt => 'vibes-resort-logo')%>

          </div>

          <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">

            <p class="p-font">Situé à l’intérieur du <strong>village naturiste du Cap d'Agde</strong>, Vibes Resort
            profite d’un emplacement à la fois incontournable et incomparable, comme un véritable signal d’entrée.</p>

            <p class="p-font">Cette <strong>résidence de luxe à vocation touristique</strong> abrite
            appartements privés, piscine et jacuzzis, bar lounge
            et restaurant, sur une terrasse panoramique à la vue imprenable. Un véritable appel au lâcher prise et à la volupté sur fond azur !</p>

            <%= link_to "Télécharger la plaquette", new_plaquette_path, class: "btn-invers animate__animated animate__fadeInUp scrollto text-center mx-auto", id:"village"%>
            <%= link_to "Nous contacter", root_path(anchor: 'contact'), class: "btn-get-started " %>

          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->


      <div class="jumbotron ">
        <div class="row " >

          <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">

            <div id="carouselExampleIndicators3" class="carousel slide pb-4 mb-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%=image_tag("village-naturiste-cap-agde.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'village naturiste cap agde')%>
            </div>
            <div class="carousel-item">
              <%=image_tag("plage-cap-agde.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'plage cap agde')%>
            </div>
            <div class="carousel-item">
              <%=image_tag("port-cap-agde.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'port village naturiste cap agde')%>
            </div>
            <div class="carousel-item">
              <%=image_tag("port-cap-agde2.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'port village naturiste cap agde')%>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

          </div>


          <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6" >

            <h2 class="text-center"> Le Village naturiste du Cap d'Agde </h2>

            <p class="p-font2 pt-4 mt-4 w-80 mx-auto"> Créé dans les années 1970 aux portes de la réserve
naturelle du Bagnas, le <strong>village naturiste du Cap
d’Agde</strong> s’étend à l’est de cette station balnéaire
incontournable. <strong>Première destination naturiste
en Méditerranée et plus grand village d’Europe</strong>,
il représente aujourd’hui une <strong>opportunité
d’investissement dans un endroit unique</strong>, où plaisirs,
liberté et festivités s’expriment dans la tolérance
et le respect d’autrui.</p>

            <p class="p-font2 pt-4 mt-4 w-80 mx-auto"> Avec tous les <strong>équipements, commerces, restaurants
et services nécessaires au confort de la vie
quotidienne, le village est entièrement autonome</strong>.
Il dispose également d’atouts majeurs : un littoral de
sable fin de 2 kilomètres de long abritant 3 plages
aménagées, sans oublier un port de plaisance de
300 anneaux.</p>


          </div>

        </div>
      </div>



      <div id="architecture" class="jumbotron-archi active " style="background-image:url(<%= asset_path 'vibes-resort-1.webp' %>) ; background-position:bottom; margin-top:-2em;">

        <div class="container archi text-center" style="padding-top :6em; padding-bottom:6em;" >
            <h2 class="mb-4 pb-4" > L'Architecture</h2>

            <p class="p-font3 w-80 mx-auto" > Signé par l’<strong>agence montpelliéraine <a href="http://www.aplus-architecture.com/agence/presentation/" target="_blank">A+ Architecture</a></strong>,
le concept architectural de la résidence trouve son
origine dans le mouvement de la vague. L’ondulation
des lignes évoque, dans une forme résolument
futuriste à l’esthétisme pur, le mouvement perpétuel
de la mer et le charme de l’<strong>éternel féminin</strong>. </p>


        <%= link_to "Nous contacter", root_path(anchor: 'contact'), class: "btn-get-started" %>
        <%= link_to "Télécharger la plaquette", new_plaquette_path, class: "btn-invers animate__animated animate__fadeInUp scrollto" %>


        </div>
      </div>



      <div class="row pt-4  pb-4  jumbotron" id="rooftop">

        <div class="col-sx-12 col-sm-12 col-lg-6 col-md-6 pb-4">


          <div class="container archi2  jumbotron-blue  text-center mx-auto"  data-aos="fade-up" data-aos-delay="100" >
              <h2 class="mb-4 pb-4"> Le Rooftop </h2>

              <p class="p-font2">À l’intérieur de la résidence, c’est le domaine privé
              du luxe et de l’hédonisme. Avec vue panoramique sur
              le <strong>village naturiste, Port Ambonne et la Méditerranée</strong>,
              le rooftop de <strong>Vibes Resort est une île privée</strong>, où
              le temps qui passe se déguste avec raffinement.
               </p>

               <p class="p-font2"> Appréciez un cocktail dans la piscine, profitez des spas à débordement ou du bar lounge, prélassez-vous sur la large plage en bois, à l’ombre des palmiers… <strong>et
              c’est toute la douceur du Sud qui s’offre à vous</strong>.</p>

          </DIV>

        </div>


        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 padding2">

          <div id="carouselExampleIndicators2" class=" carousel pt-4 mt-4 pb-4" data-ride="carousel" data-interval="30000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <%=image_tag("vibes-resort-3.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
          </div>
          <div class="carousel-item">
            <%=image_tag("pool.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
          </div>
          <div class="carousel-item">
            <%=image_tag("pool-1.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
          </div>
          <div class="carousel-item">
            <%=image_tag("pool-2.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>



        </div>

      </div>


      <div class="row " style="padding:2em;" id="appartements">

        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 pt-4 mt-4 pb-4 mb-4">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                      <%=image_tag("vibes-resort-appartement-3.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                    </div>
                    <div class="carousel-item">
                      <%=image_tag("vibes-resort-terrasse-2.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                    </div>
                    <div class="carousel-item">
                      <%=image_tag("vibes-resort-appartement-2.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                    </div>
                    <div class="carousel-item">
                    <%=image_tag("vibes-resort-appartement-1.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                  </div>
                  <div class="carousel-item">
                  <%=image_tag("vibes-resort-chambre.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                </div>
                <div class="carousel-item">
                <%=image_tag("vibes-resort-chambre2.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
              </div>
                  <div class="carousel-item">
                    <%=image_tag("vibes-resort-terrasse-1.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                  </div>
                  <div class="carousel-item active">
                    <%=image_tag("Chambre-HD.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                  </div>
                  <div class="carousel-item">
                    <%=image_tag("salle-bain.webp", :class => "d-block w-100", :style => " height: 28em; width: 100%; object-fit: cover;", :alt => 'vibes resort résidence cap agde')%>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

        </div>


        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">

          <div class="container text-center  mx-auto archi2 "  data-aos="fade-up" data-aos-delay="100">
              <h2 class="mb-4 pb-4"> Les Appartements </h2>

              <p class="p-font2"> Rejoignez vos <strong>appartements privés et profitez
                d’un confort de grand standing</strong>, que l’on a aussi
                plaisir à faire partager. Des <strong>chambres T1 aux
                  suites 4 pièces</strong>, les <strong>appartements de Vibes Resort</strong>
                  ont ce petit quelque chose en plus qui les rend
                  tellement irrésistibles. </p>

            <p class="p-font2">Décoration et mobilier
            design, ambiance feutrée, spacieux volumes,
            stationnements privatifs sécurisés ; ici, tout est
            dédié à votre <strong>bien-être</strong>. </p>

          </div>

        </div>
      </div>



    <div class="jumbotron-invest active ">

      <div class="container invest text-center" style="padding-top:6em;" id="proprietaire">
          <h2 class="mb-4 pb-4">Devenir Propriétaire</h2>

          <p class="p-font2">
            Nous vous offrons la <strong>possibilité d’acquérir une chambre
          ou une suite</strong>, meublée au sein d’une <strong>résidence à vocation
          touristique</strong> permettant à votre gestionnaire d’<strong>organiser la
          fourniture d’au moins 3 des 4 prestations para-hôtelières</strong>
          suivantes :<br><br>

          </p>


          <div class="row text-center mx-auto">

            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
              <%= image_tag('croissant.png', :class => "mx-auto pb-4", :alt => "prestations para hotelieres")%>
              <p class="p-font3 text-center">Le petit déjeuner</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
                <%= image_tag('menage.png', :class => "mx-auto pb-4", :alt => "prestations para hotelieres")%>
              <p class="p-font3 text-center">Le nettoyage quotidien des locaux</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
                <%= image_tag('laundry.png', :class => "mx-auto pb-4", :alt => "prestations para hotelieres")%>
              <p class="p-font3 text-center">La fourniture du linge</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3">
                <%= image_tag('client.png', :class => "mx-auto pb-4", :alt => "prestations para hotelieres")%>
              <p class="p-font3 text-center">La réception de la clientèle</p>
            </div>

          </div>


          <p class="p-font2 pb-4 mb-4 pt-4">

          Si ces conditions sont réunies, <strong>l’ensemble de la prestation
          (assimilée à une activité hôtelière) est soumis à la TVA</strong>.
          L’acquéreur peut alors récupérer la TVA qu’il a acquittée
          sur le prix de l’acquisition des murs et du mobilier (taux
          de TVA en vigueur). <br><br>
          Cette <strong>récupération est totalement
          acquise au bout de 20 ans de détention</strong> (au bout de 5 ans
          pour le mobilier). En cas de revente anticipée, la TVA est
          remboursable au prorata de la différence d’années de
          détention, sauf si le nouvel acquéreur reprend le mandat
          de gestion jusqu’au terme des 20 ans.</p>

          <div style="padding-bottom:2em;">
          <%= link_to "Nous contacter", root_path(anchor: 'contact'), class: "btn-get-started " %>
          <%= link_to "Télécharger la plaquette", new_plaquette_path, class: "btn-invers animate__animated animate__fadeInUp scrollto" %>
          </div>

      </DIV>

    </div>



  <!-- ======= Contact Us Section ======= -->
    <section class="contact" id="contact">
      <div class="container ">

          <h2 class="pb-4 mb-4" >Vous êtes séduit par notre résidence ? Contactez-nous.</h2>

        <div class="row">

          <div class="col-lg-6 pt-4" data-aos="fade-up" >

              <h3><i class="fas fa-phone pr-4 pb-4"></i> Appelez-nous</h3>
              <p>04 67 57 11 26</p>

              <p class="p-font3 pr-4 mr-4 pt-4 mt-4">Vous êtes intéressé par <strong>Vibes Resort</strong> ? Vous souhaitez obtenir davantage d'informations sur notre résidence ? <strong>Remplissez le formulaire suivant, nous vous recontacterons</strong> !</p>

              <p class="p-font4 pr-4 mr-4 pt-4 mt-4"><i> *En soumettant ce formulaire, vous acceptez que vos données personnelles soient utilisées pour vous contacter dans le cadre de votre demande indiquée dans ce formulaire. Aucun autre traitement ne sera effectué avec vos informations.</i></p>
          </div>


          <div class="col-lg-6">

            <% flash.each do |type, msg| %>
              <div class="alert alert-info margin-top:100px;" style="z-index:1">
                <%= msg %>
              </div>
            <% end %>

            <%= form_tag url_for(contact_index_path), :contact => @contact, id: 'contact-form', method: 'post' do %>
          <div class="row php-email-form" >
              <div class="col-md-6">
                <div class="form-group">
                  <%= text_field_tag 'name', nil, placeholder: 'Nom*', class:"form-control" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= text_field_tag 'firstname', nil, placeholder: 'Prénom*', class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag 'phone', nil, placeholder: "Téléphone-portable", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag 'email', nil, placeholder: "E-mail*", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_area_tag 'message', nil, placeholder: "Message", rows:"4", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <p class="p-font4">Je suis intéressé(e) par:</p>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <p class="p-font4"><%= check_box_tag 'room' %> Chambre</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <p class="p-font4"><%= check_box_tag 'suite' %> Suite</p>
                </div>
              </div>
                <div class="submit-button text-left">
                  <%= submit_tag "    Envoyer    ", class: "btn-get-started pr-3 pl-4", style:"border-radius:20px;" %>
                  <%end%>
                </div>
                <div class="col-md-12">
                  <p class="p-font4">*Champs obligatoires</p>
                </div>
              </div>
            </div>

          </div>

        </div>
    </section><!-- End Contact Us Section -->



        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.83894318208!2d3.5229999999999992!3d43.2966944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDPCsDE3JzQ4LjEiTiAzwrAzMScyMi44IkU!5e0!3m2!1sfr!2sfr!4v1594023094804!5m2!1sfr!2sfr" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
