

  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(<%= asset_path 'vibes-resort-1.jpg' %>) ; background-position: center; background-attachment:fixed;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown" style="text-transform: uppercase;">Vibes Resort</h2>

                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px;" style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>

                <p style="font-size:18px;">Vibes Resort, nouvelle résidence au Cap d'Agde, est né de l’idée d’offrir un lieu d’exception
à la fois intime et convivial, avec des équipements de
haut standing et un niveau de confort sans pareil.</p>
                <%= link_to "Contactez-nous", root_path(anchor: 'contact'), class: "btn-get-started" %>
                <%= link_to "Téléchargez la Plaquette", new_plaquette_path, class: "btn-invers " %>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(<%= asset_path 'vibes-resort-2.jpg' %>) ; background-position: bottom; background-attachment:fixed;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown" style="text-transform: uppercase;">Vibes Resort</h2>

                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px;" style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>

                <p style="font-size:18px;" >Vibes Resort, nouvelle résidence au Cap d'Agde, est né de l’idée d’offrir un lieu d’exception
à la fois intime et convivial, avec des équipements de
haut standing et un niveau de confort sans pareil.</p>
                <%= link_to "Contactez-nous", root_path(anchor: 'contact'), class: "btn-get-started " %>
                <%= link_to "Téléchargez la Plaquette", new_plaquette_path, class: "btn-invers " %>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(<%= asset_path 'vibes-resort-3.jpg' %>); background-position:center; background-attachment:fixed;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown" style="text-transform: uppercase;">Vibes Resort</h2>

                <% flash.each do |type, msg| %>
                  <div class="alert alert-info margin-top:100px;" style="z-index:1">
                    <%= msg %>
                  </div>
                <% end %>

                <p style="font-size:18px;" >Vibes Resort, nouvelle résidence au Cap d'Agde, est né de l’idée d’offrir un lieu d’exception
à la fois intime et convivial, avec des équipements de
haut standing et un niveau de confort sans pareil.</p>
                <%= link_to "Contactez-nous", root_path(anchor: 'contact'), class: "btn-get-started" %>
                <%= link_to "Téléchargez la Plaquette", new_plaquette_path, class: "btn-invers" %>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <i class="fas fa-chevron-left fa-2x" class="carousel-control-next-icon icofont-rounded-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <i class="fas fa-chevron-right fa-2x" class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">


        <h1 class="mb-4 pt-4 pb-4 text-center">Vibes Resort au Cap d'Agde, un village, une résidence</h1>


        <div class="row mt-4 pt-4" style="align-items:center;">

          <div class="col-4 text-center ">

            <%=image_tag("logo-min.png", :style =>'width:40%;')%>

          </div>

          <div class="col-8">

            <p class="p-font">Situé à l’intérieur du <strong>village naturiste du Cap d'Agde</strong>, Vibes Resort
            profite d’un emplacement à la fois incontournable et incomparable, comme un véritable signal d’entrée.</p>

            <p class="p-font">Cette <strong>résidence de luxe à vocation touristique</strong> abrite
            appartements privés, piscine et jacuzzis, bar lounge
            et restaurant, sur une terrasse panoramique à la vue imprenable. Un véritable appel au lâcher prise et à la volupté sur fond azur !</p>

            <%= link_to "Téléchargez la Plaquette", new_plaquette_path, class: "btn-invers animate__animated animate__fadeInUp scrollto text-center mx-auto" %>

          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->


      <div class="jumbotron ">
        <div class="row p-4 m-4" >

          <div class="col-6 image-village pt-4" style ="background-image:url(<%= asset_path 'village.jpg' %>); background-position:center; background-attachment:fixed; height:auto; opacity:0.95">


          </div>

          <div class="col-6 pt-4 pb-4" >

            <h2 class="text-center" id="village"> Le Village naturiste du Cap d'Agde </h2>

            <p class="p-font2 pt-4 mt-4 mr-4 pr-4 ml-4 pl-4"> Créé dans les années 1970 aux portes de la réserve
naturelle du Bagnas, le <strong>village naturiste du Cap
d’Agde</strong> s’étend à l’est de cette station balnéaire
incontournable. <strong>Première destination naturiste
en Méditerranée et plus grand village d’Europe</strong>,
il représente aujourd’hui une <strong>opportunité
d’investissement dans un endroit unique</strong>, où plaisirs,
liberté et festivités s’expriment dans la tolérance
et le respect d’autrui.</p>

            <p class="p-font2 pt-4 mt-4 mr-4 pr-4 ml-4 pl-4"> Avec tous les <strong>équipements, commerces, restaurants
et services nécessaires au confort de la vie
quotidienne, le village est entièrement autonome</strong>.
Il dispose également d’atouts majeurs : un littoral de
sable fin de 2 kilomètres de long abritant 3 plages
aménagées, sans oublier un port de plaisance de
300 anneaux.</p>


          </div>

        </div>
      </div>



      <div class="jumbotron-archi active " style="background-image:url(<%= asset_path 'vibes-resort-1.jpg' %>) ; background-position:bottom; margin-top:-2em; ">

        <div class="container archi text-center" style="padding:6em;" >
            <h2 class="mb-4 pb-4" id="architecture"> L'Architecture</h2>

            <p class="p-font3" > Signé par l’<strong>agence montpelliéraine <a href="http://www.aplus-architecture.com/agence/presentation/" target=_blank">A+ Architecture</a></strong>,
le concept architectural de la résidence trouve son
origine dans le mouvement de la vague. L’ondulation
des lignes évoque, dans une forme résolument
futuriste à l’esthétisme pur, le mouvement perpétuel
de la mer et le charme de l’<strong>éternel féminin</strong>. </p>


        <%= link_to "Contactez-nous", root_path(anchor: 'contact'), class: "btn-get-started" %>
        <%= link_to "Téléchargez la Plaquette", new_plaquette_path, class: "btn-invers animate__animated animate__fadeInUp scrollto" %>


        </DIV>

      </div>



      <div class="row" id="appartements">

        <div class="col-6 col-sm-12 col-lg-6 col-md-6">

          <div class="container archi text-center" style="padding:4em;" data-aos="fade-up" data-aos-delay="100">
              <h2 class="mb-4 pb-4"> Les Appartements </h2>

              <p class="p-font2"> Rejoignez vos <strong>appartements privés et profitez
d’un confort de grand standing</strong>, que l’on a aussi
plaisir à faire partager. Des <strong>chambres T1 aux
suites 4 pièces</strong>, les <strong>appartements de Vibes Resort</strong>
ont ce petit quelque chose en plus qui les rend
tellement irrésistibles. </p>

            <p class="p-font2">Décoration et mobilier
            design, ambiance feutrée, spacieux volumes,
            stationnements privatifs sécurisés ; ici, tout est
            dédié à votre <strong>bien-être</strong>. </p>

          </div>

        </div>


        <div class="col-6 col-sm-12 col-lg-6 col-md-6">

    <div class="hero-container" id="hero">
          <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="height:30em;">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

              <!-- Slide 1 -->
              <div class="carousel-item active" style="background-image: url(<%= asset_path 'Chambre-HD.jpg' %>) ; background-position: center ; ">
                <div class="carousel-container">
                  <div class="carousel-content container">

                  </div>
                </div>
              </div>

              <!-- Slide 2 -->
              <div class="carousel-item" style="background-image: url(<%= asset_path 'salle-bain.jpg' %>) ; background-position: center; ">
                <div class="carousel-container">
                  <div class="carousel-content container">

                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>



        </div>

      </div>


      <div class="row">

        <div class="col-6 col-sm-12 col-lg-6 col-md-6">


          <div class="hero-container " id="hero">
                <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="height:30em;">

                  <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                  <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url(<%= asset_path 'vibes-resort-3.jpg' %>) ; background-position: center ; ">
                      <div class="carousel-container">
                        <div class="carousel-content container">

                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>

        </div>


        <div class="col-6 col-sm-12 col-lg-6 col-md-6">

          <div class="container archi text-center" style="padding:4em;" data-aos="fade-up" data-aos-delay="100" id="rooftop">
              <h2 class="mb-4 pb-4"> Le Rooftop </h2>

              <p class="p-font2">À l’intérieur de la résidence, c’est le domaine privé
              du luxe et de l’hédonisme. Avec vue panoramique sur
              le <strong>village naturiste, Port Ambonne et la Méditerranée</strong>,
              le rooftop de <strong>Vibes Resort est une île privée</strong>, où
              le temps qui passe se déguste avec raffinement.
               </p>

               <p class="p-font2"> Appréciez un cocktail dans la piscine, profitez des spas à débordement ou du bar lounge, prélassez-vous sur la large plage en bois, à l’ombre des palmiers… <strong>et
              c’est toute la douceur du Sud qui s’offre à vous</strong>.</p>



          </DIV>

        </div>
      </div>



    <section >


    <div class="jumbotron-invest active ">

      <div class="container invest text-center" style="padding:6em;" id="proprietaire">
          <h2 class="mb-4 pb-4">Devenir Propriétaire</h2>

          <p class="p-font2">
            Nous vous offrons la <strong>possibilité d’acquérir une chambre
          ou une suite</strong>, meublée au sein d’une <strong>résidence à vocation
          touristique</strong> permettant à votre gestionnaire d’<strong>organiser la
          fourniture d’au moins 3 des 4 prestations para-hôtelières</strong>
          suivantes :<br><br>

          </p>


          <div class="row text-center mx-auto">

            <div class="col-3">
              <p class="text-center"><i class="fas fa-utensils text-center"></i></p>
              <p class="p-font3 text-center">Le petit déjeuner</p>
            </div>
            <div class="col-3">
              <p class="text-center"><i class="fas fa-hand-sparkles"></i></p>
              <p class="p-font3 text-center">Le nettoyage quotidien des locaux</p>
            </div>
            <div class="col-3">
              <p class="text-center"><i class="fas fa-bed"></i></p>
              <p class="p-font3 text-center">La fourniture du linge</p>
            </div>
            <div class="col-3">
              <p class="text-center"><i class="fas fa-user-friends"></i></p>
              <p class="p-font3 text-center">La réception de la clientèle</p>
            </div>

          </div>


          <p class="p-font2 pb-4 mb-4">

          Si ces conditions sont réunies, <strong>l’ensemble de la prestation
          (assimilée à une activité hôtelière) est soumis à la TVA</strong>.
          L’acquéreur peut alors récupérer la TVA qu’il a acquittée
          sur le prix de l’acquisition des murs et du mobilier (taux
          de TVA en vigueur). <br><br>
          Cette <strong>récupération est totalement
          acquise au bout de 20 ans de détention</strong> (au bout de 5 ans
          pour le mobilier). En cas de revente anticipée, la TVA est
          remboursable au prorata de la différence d’années de
          détention, sauf si le nouvel acquéreur reprend le mandat
          de gestion jusqu’au terme des 20 ans.</p>


          <%= link_to "Contactez-nous", root_path(anchor: 'contact'), class: "btn-get-started " %>
          <%= link_to "Téléchargez la Plaquette", new_plaquette_path, class: "btn-invers animate__animated animate__fadeInUp scrollto" %>

      </DIV>

    </div>

  </section>


  <!-- ======= Contact Us Section ======= -->
    <section class="contact" id="contact">
      <div class="container ">

          <h2 class="pb-4 mb-4" >Vous êtes séduit par notre résidence ? Contactez-nous.</h2>

        <div class="row">

          <div class="col-lg-6 pt-4" data-aos="fade-up" >

              <h3><i class="fas fa-phone pr-4 pb-4"></i> Appelez-nous</h3>
              <p>04 44 44 44 44</p>

              <p class="p-font3 pr-4 mr-4 pt-4 mt-4">Vous êtes intéréssé par <strong>Vibes Resort</strong> ? Vous souhaitez obtenir d'avantage d'informations sur notre résidence ? <strong>Remplissez le formulaire suivant, nous vous re contacterons</strong> !</p>

              <p class="p-font4 pr-4 mr-4 pt-4 mt-4"><i> *En soumettant ce formulaire, vous acceptez que vos données personnelles soient utilisées pour vous contacter dans le cadre de votre demande indiquée dans ce formulaire. Aucun autre traitement ne sera effectué avec vos informations.</i></p>
          </div>


          <div class="col-lg-6">

            <% flash.each do |type, msg| %>
              <div class="alert alert-info margin-top:100px;" style="z-index:1">
                <%= msg %>
              </div>
            <% end %>

            <%= form_tag url_for(contact_index_path), :contact => @contact, id: 'contact-form', method: 'post' do %>
          <div class="row php-email-form" >
              <div class="col-md-6">
                <div class="form-group">
                  <%= text_field_tag 'name', nil, placeholder: 'Nom*', class:"form-control" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= text_field_tag 'firstname', nil, placeholder: 'Prénom', class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag 'phone', nil, placeholder: "Téléphone-portable*", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag 'email', nil, placeholder: "E-mail*", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= text_area_tag 'message', nil, placeholder: "Message*", rows:"4", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <p class="p-font4">Je suis intéréssé(e) par:</p>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <p class="p-font4"><%= check_box_tag 'room' %> Chambre</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <p class="p-font4"><%= check_box_tag 'suite' %> Suite</p>
                </div>
              </div>
                <div class="submit-button text-left">
                  <%= submit_tag "    Envoyer    ", class: "btn-get-started pr-3 pl-4", style:"border-radius:20px;" %>
                  <%end%>

                </div>
              </div>
            </div>

          </div>

        </div>
    </section><!-- End Contact Us Section -->


    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5807.618512113191!2d3.5240819265681327!3d43.29731605960393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b13b6adc2fa515%3A0x48b32a4dbd500d76!2sAvenue%20du%20Bagnas%2C%2034300%20Agde!5e0!3m2!1sfr!2sfr!4v1593785392085!5m2!1sfr!2sfr" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
