<!DOCTYPE html>
<html>
  <head>
    <title>VibesResort2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous"></script>

  </head>

  <body>


    <!-- ======= Header ======= -->
    <header id="header">

      <div class="container">

        <div class="logo float-left pt-3">
          <%= link_to image_tag( 'logo-min.png'), root_path%>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block pt-3 ">
          <ul>
            <li><%= link_to "Vibes Resort", root_path %></li>
            <li><%= link_to "Le Village", root_path(anchor:"village") %></li>
            <li><%= link_to "L'Emplacement", root_path(anchor:"emplacement") %></li>
            <li><%= link_to "L'Architecture", root_path(anchor:"architecture") %></li>
            <li><%= link_to "Les Appartements", root_path(anchor:"appartements") %></li>
            <li><%= link_to "Le Rooftop", root_path(anchor:"rooftop") %></li>
            <li><%= link_to "Contactez-nous", root_path(anchor:"contact") %></li>
          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->


    <%= yield %>

    <i class="fas fa-chevron-circle-up btn-up fa-2x"></i>


    <!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container">
    <div class="copyright">
      Résidence <span>Vibes Resort</span>, Cap d'Agde
    </div>
    <div class="credits">
      &copy; Copyright. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->

  </body>
</html>
