
<!DOCTYPE html>
<html>
<head>

  <title>Vibes Resort | Résidence de luxe au village naturiste du Cap d'Agde</title>


  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- GA -->
  <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172128621-1"></script>

    <script>

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-172128621-1');

    </script>

  <%end%>


  <meta name="description" content="Découvrez Vibes Resort, nouvelle résidence de standing à vocation touristique située dans le village naturiste du Cap d'Agde. De la chambre T1 à la suite 4 pièces. Contactez-nous !" />

  <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous" defer></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header">
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light bg-white">
          <%= link_to image_tag( 'vibes-resort-logo2.png'), root_path%>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse bg-white"  id="navbarCollapse">
                <div class="navbar-nav ml-auto pt-4">
                  <ul >
                    <li style=" display: inline-block;
                    vertical-align: middle" >
                    <%= link_to "Le village", root_path(anchor:"village") , class:"px-2 nav-item nav-link "%></li>
                    <li style=" display: inline-block;
                    vertical-align: middle" ><%= link_to "L'architecture", root_path(anchor:"architecture"), class:"px-2 nav-item nav-link " %></li>
                    <li style=" display: inline-block;
                    vertical-align: middle" ><%= link_to "Le rooftop", root_path(anchor:"rooftop") , class:"p-2 nav-item nav-link "%></li>
                    <li style=" display: inline-block;
                    vertical-align: middle" ><%= link_to "Les appartements", root_path(anchor:"appartements") , class:"px-2 nav-item nav-link "%></li>
                    <li style=" display: inline-block;
                    vertical-align: middle" ><%= link_to "Devenir propriétaire", root_path(anchor:"proprietaire"), class:"px-2 nav-item nav-link " %></li>
                    <li style=" display: inline-block;
                    vertical-align: middle" ><%= link_to "Nous contacter", root_path(anchor:"contact"), class:"px-2 btn-get-started " %></li>
                    <li style=" display: inline-block;
                    vertical-align: middle" ><%= link_to "Télécharger la plaquette", new_plaquette_path, class:"px-2 btn-invers " %></li>
                  </ul>
                </div>

            </div>
        </nav>
    </div>


  </header><!-- End Header -->


  <%= yield %>

  <a href="#"><i class="fas fa-chevron-circle-up btn-up fa-2x"></i></a>


  <!-- ======= Footer ======= -->

  <footer id="footer">

    <div class="container">
      <div class="copyright">
        Tous droits réservés – <strong>SCCV VIBES RESORT</strong> – 790 452 452 RCS Béziers
      </div>
      <div class="credits">
        Illustrations à caractère d’ambiance © A+ Architecture, Golem Images, We Love Design, Atypik Studio – Photos © Shutterstock
      </div>
      <div class="credits">
        <% if user_signed_in?%>
        <%= link_to "Back-Office",         contact_index_path, class:"pr-4" %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete%>
        <%else%>
        <%= link_to "Se connecter", user_session_path %>
        <%end%>
      </div>
    </div>
  </footer><!-- End Footer -->

</body>
</html>
