<!DOCTYPE html>
<html>
  <head>
    <title>VibesResort2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous"></script>

  </head>

  <body>


    <!-- ======= Header ======= -->
    <header id="header">

      <div class="container">

        <div class="logo float-left pt-3">
          <a href="index.html"><%=image_tag("logo-min.png")%></a>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block pt-3 ">
          <ul>
            <li class="active"><a href="index.html">Vibes Resort</a></li>
            <li><a href="#about">Le Village</a></li>
            <li><a href="#services">L'Emplacement</a></li>
            <li><a href="#portfolio">L'Architecture</a></li>
            <li><a href="#team">Les Appartements</a></li>
            <li><a href="#team">Le Roof Top</a></li>
            <li><a href="#contact">Contactez-nous</a></li>
          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->


    <%= yield %>

    <i class="fas fa-chevron-circle-up btn-up fa-2x"></i>


    <!-- ======= Footer ======= -->
<footer id="footer">

  <div class="container">
    <div class="copyright">
      Résidence <span>Vibes Resort</span>, Cap d'Agde
    </div>
    <div class="credits">
      &copy; Copyright. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->

  </body>
</html>
